.page {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vbox {
  display: flex;
  flex-direction: column;
}

.panel {
  border: 1px solid currentColor;
  padding: 24px;
}

.bordered-right {
  border-right: 1px solid currentColor;
}
